name: Security Tests

on:
  pull_request:
    branches:
      - '*'

permissions:
  checks: write
  contents: read

jobs:
  security-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'

      - name: Install dependencies
        run: npm ci

      - name: Install SecTester
        run: npm i --save-dev @sectester/core @sectester/repeater @sectester/scan @sectester/runner

      - name: Set up Docker Compose
        run: |
          docker compose up -d
          until curl --output /dev/null --silent --head --fail http://localhost:8080; do
            echo 'Waiting for application to be ready...'
            sleep 5
          done

      - name: Run security tests
        env:
          MYSQL_DATABASE: golang_realworld
          MYSQL_ROOT_PASSWORD: password
          BRIGHT_HOSTNAME: ${{ vars.BRIGHT_HOSTNAME }}
          BRIGHT_PROJECT_ID: ${{ vars.BRIGHT_PROJECT_ID }}
          BRIGHT_TOKEN: ${{ secrets.BRIGHT_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRIGHT_TARGET_URL: http://localhost:8080
        run: node --test .brightsec/tests/*.test.ts --test-concurrency=4

      - name: Tear down Docker Compose
        if: always()
        run: docker compose down