name: Security Tests

on:
  pull_request:
    branches:
      - '**'

permissions:
  checks: write
  contents: read

jobs:
  security-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'

      - name: Install SecTester dependencies
        run: npm install --save-dev @sectester/core @sectester/repeater @sectester/scan @sectester/runner

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.22'

      - name: Copy .env.example to .env
        run: cp .env.example .env

      - name: Start MySQL database
        run: docker compose up -d db

      - name: Wait for MySQL to be ready
        run: |
          until docker exec $(docker ps -qf "name=db") mysqladmin ping --silent; do
            echo "Waiting for database connection..."
            sleep 2
          done

      - name: Start application
        run: go run main.go &

      - name: Wait for application to be ready
        run: |
          until nc -zv 127.0.0.1 8080; do
            echo "Waiting for application to start..."
            sleep 2
          done

      - name: Run security tests
        env:
          BRIGHT_HOSTNAME: ${{ vars.BRIGHT_HOSTNAME }}
          BRIGHT_PROJECT_ID: ${{ vars.BRIGHT_PROJECT_ID }}
          BRIGHT_TOKEN: ${{ secrets.BRIGHT_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRIGHT_TARGET_URL: "http://127.0.0.1:8080"
        run: node --experimental-transform-types --experimental-strip-types --experimental-detect-module --disable-warning=MODULE_TYPELESS_PACKAGE_JSON --disable-warning=ExperimentalWarning --test .brightsec/tests/*.test.ts --test-concurrency=4

      - name: Stop MySQL database
        if: always()
        run: docker compose down